body {
    background-color: #21252b;
}
* {
    color: white;
}
nav {
    margin-left: 42.5%;
    margin-right: 50%;
    font-size: 15px;
}
.name {
    font-weight: bold;

}
.c {
    text-align: center;
    font-size: 15px;
}
.flex-container {
    display: flex;
}

.flex-container > div {

    margin: 5px;
    padding: 1px;
    font-size: 30px;
}